<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.brailleemotion.appmanager"
    android:versionCode="6"
    android:versionName="1.5">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />

    <!-- Required on Android 11+ to build a complete list of installed launchable apps. -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- Opens Android's confirmation screen; it does not allow silent uninstall. -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <!-- Android 8-10: read APK files placed in the public Download directory. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!-- Android 11+: needed because APK is non-media and must be listed automatically. -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- Allows this app to hand a selected APK to Android's package installer. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="org.brailleemotion.appmanager.ApkInstallFileProvider"
            android:authorities="org.brailleemotion.appmanager.apkprovider"
            android:exported="false"
            android:grantUriPermissions="true" />
        <activity
            android:name="org.brailleemotion.appmanager.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
